Projeto[[:space:]]-[[:space:]]Eldorado/Assets/JohnFarmer/Keyboard[[:space:]]Keys[[:space:]]&[[:space:]]Mouse[[:space:]]Sprites/PSB[[:space:]]File/BlackKeyboard&MouseButtonSprites.psb filter=lfs diff=lfs merge=lfs -text
Projeto[[:space:]]-[[:space:]]Eldorado/Assets/JohnFarmer/Keyboard[[:space:]]Keys[[:space:]]&[[:space:]]Mouse[[:space:]]Sprites/PSB[[:space:]]File/WhiteKeyboard&MouseButtonSprites.psb filter=lfs diff=lfs merge=lfs -text
Projeto[[:space:]]-[[:space:]]Eldorado/Library/PackageCache/com.unity.burst@1.8.19/.Runtime/libburst-llvm-18.dylib filter=lfs diff=lfs merge=lfs -text
